<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>Follow Users</h2>
      <!-- フォローユーザー一覧 -->
      <%= render "users_table", users: @follow_users %>
      <!--フォローユーザー一覧/ -->
		</div>
	</div>
</div>
